.card {
  width: 40vw;
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
}

@media only screen and (max-width: 1224px) {
  .card {
    width: 70vw;
  }
  .user-details {
    flex-direction: column;
  }
  .userImg {
    width: 48px;
    height: 48px;
  }
  .icon {
    display: none;
  }
  .view-count {
    margin: auto;
  }
  .view-count-mobile {
    display: inline;
  }
  .cont .details {
    display: flex;
  }
}
