.card {
  width: 40vw;
}
.view-count-wrapper {
  margin-left: 20rem;
}

@media only screen and (min-width: 1224px) and (max-width: 1930px) {
  .view-count-wrapper {
    margin-left: 5rem;
  }
}

@media only screen and (min-width: 350.98px) and (max-width: 450.98px) {
  .info-wrapper {
    flex-direction: column !important;
  }
  .location-wrapper {
    display: block;
  }
  .name {
    font-size: 5%;
  }
}

@media only screen and (max-width: 1224px) {
  .card {
    width: 79vw;
  }
  .userImg {
    width: 60px;
    height: 60px;
  }
  .icon {
    display: none;
  }
  .user-content {
    flex-direction: column;
  }
  .view-count-wrapper {
    margin: auto 0.25rem;
  }
  .title {
    font-size: 100%;
  }
}
