.navigation-brand {
  padding: 1rem 4rem;
}
.register-btn {
  display: none;
}

@media only screen and (max-width: 990px) {
  .search-bar {
    display: none;
  }
  .navigation-brand {
    padding: 0.5rem 1rem;
  }
  .text {
    display: none;
  }
  .register-btn {
    display: initial !important;
  }
}
