.write-btn {
  position: fixed;
  right: 5%;
  bottom: 5%;
  padding: 1rem 1.25rem;
  border-radius: 2rem;
  visibility: hidden;
}

@media only screen and (min-width: 350.98px) and (max-width: 768px) {
  .write-btn {
    visibility: visible !important;
  }
}
