.write-btn {
  visibility: hidden;
  position: fixed;
  right: 5%;
  bottom: 5%;
  padding: 1rem 1.25rem;
  border-radius: 2rem;
}

@media only screen and (min-width: 350.98px) and (max-width: 450.98px) {
  .write-btn {
    color: blue;
    visibility: visible;
  }
}
